.page__header {
  margin: 28px 48px 0 48px;
}

@media screen and (max-width: 768px) {
  .page__header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
