.lead__subtitle {
  margin: 0 auto;
  margin-top: 32px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width:760px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) / 440 * (100vw - 320px));
    line-height: calc(20px + (36 - 20) / 440 * (100vw - 320px));
    margin-top: calc(16px + (32 - 16) / 440 * (100vw - 320px));
    max-width: calc(288px + (640 - 288) / 440 * (100vw - 320px));
  }
}
