.page__places {
  margin: 92px 148px  0 148px;
}

@media screen and (max-width: 1280px) {
  .page__places {
    margin-left: calc(48px + (148 - 48) * (100vw - 1024px) / (1280 - 1024));
  }
}


@media screen and (max-width: 1024px) {
  .page__places {
    margin-top: calc(88px + (92 - 88) * (100vw - 768px) / (1024 - 768));
    margin-left: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
    margin-right: calc(24px + (48 - 24) * (100vw - 768px) / (1024 - 768));
  }
}

@media screen and (max-width: 768px) {
  .page__places {
    margin-top: calc(64px + (88 - 64) * (100vw - 320px) / (720 - 320));
    margin-left: calc(24 * (100vw - 320px) / (720 - 320));
    margin-right: calc(24 * (100vw - 320px) / (720 - 320));
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}

