.page__cover {
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .page__cover {
    margin-top: calc(66px + (90 - 66) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 320px) {
  .page__cover {
    margin-top: 66px;
  }
}
